.console_Nom,.console_Texte
	{
	/*min-width:40em;*/
	background-color:Black;
	border:1px solid Red;
	overflow:auto;
	font-size:0.8em;
	color:Yellow;	
	}

.console_Texte{min-height:10em;}
.console_Nom{cursor:pointer;}

.lgs_console_Menu
	{
	cursor:pointer;
	background-color:Black;
	border:1px solid Red;
	overflow:auto;
	font-size:0.8em;
	color:Yellow;	
	}
.lgs_console_Contenu
	{
	min-height:10em;min-width:10em;width:80%;
	background-color:Black;
	border:1px solid Red;
	overflow:auto;
	font-size:0.8em;
	color:Yellow;	
	}




